---
import type { TempleShort } from "../types";
import SectionHeader from "./SectionHeader.astro";
import TempleShorts from "./TempleShorts.astro";

type Props = {
  shorts: TempleShort[];
};

const { shorts } = Astro.props;
---

<section id="temple-shorts">
  <SectionHeader eyebrow="Short Temple Walks" title="잠깐, 사찰 한 바퀴" />
  <TempleShorts shorts={shorts} />
</section>
