---
import type { TempleShort } from "../types";
import SectionHeader from "./SectionHeader.astro";
import SocialFollowCta from "./SocialFollowCta.astro";
import TempleShorts from "./TempleShorts.astro";

type Props = {
  shorts: TempleShort[];
};

const { shorts } = Astro.props;
---

<section id="temple-shorts">
  <SectionHeader title="잠깐, 사찰 한 바퀴">
    <SocialFollowCta
      iconOnly
      channels={[
        {
          icon: "youtube",
          href: "https://www.youtube.com/@buddha-moa?sub_confirmation=1",
          label: "유튜브",
          ctaLabel: "붓다모아 유튜브 영상 보기",
        },
        {
          icon: "instagram",
          href: "https://www.instagram.com/buddhamoa",
          label: "인스타그램",
          ctaLabel: "붓다모아 인스타그램 보기",
        },
        {
          icon: "tiktok",
          href: "https://www.tiktok.com/@buddhamoa",
          label: "틱톡",
          ctaLabel: "붓다모아 틱톡 보기",
        },
      ]}
    />
  </SectionHeader>
  <TempleShorts shorts={shorts} />
</section>
